<header>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul>
          <li><a href="#">Welcome</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>        
        </ul>
      </div>
    </div>    
  </div>  
</header>

<section class="main">
  <div class="container">
    <h1>My name is Michael Douglas and here is my website.</h1>
    <button>View My Work</button>
  </div>
</section>

<footer>
  <div class="container">
    <ul>
      <li><a href="#"><img height="20" src="https://image.flaticon.com/icons/svg/8/8800.svg"/></a></li>
      <li><a href="#"><img height="20" src="https://image.flaticon.com/icons/svg/34/34405.svg"/></a></li>
      <li><a href="#"><img height="20" src="https://image.flaticon.com/icons/svg/59/59439.svg"/></a></li>
      <li>&copy; Michael Douglas 2017</li>      
    </ul>    
  </div>
</footer>