ul {
  display: inline-block;
  margin: 20px;
}

ul li {
  display: inline-block;
  margin: 10px;
}

.main {
  background: url("https://image.freepik.com/free-photo/dusk-colorful-dramatic-yellow-sun_1203-5704.jpg") no-repeat center center;
  background-size: cover;
}

.main button {
  background: white;
  margin: 30px;
}

.main button:hover {
  background: black;
  color: white;
}
